# replace with your bot token
TOKEN = skjdhgfjhjet4hghjfsd.dfghddfg.jkfhgrut3yuhif7e86s7ih3udeiysgd
# replace with your username (for displaying on the command description)
USER_NAME = kyfex

# these can be set to a list of user ids, separated by a space
# if whitelist or blacklist is empty, it is disabled
# WHITELIST = 835896422112559144 1149146132501512284
# BLACKLIST = 176366451471548416